body {
   backgound-color: violet;
}
h1{
   color: blue;
   background-color: green;
}
li {
   backgroung-color: gainsboro;
}
# water {
   background-color:brown;
}
.human{
    background-color: blue;
}
imh {
width: 100%;
}
